.input:focus {
}

.input {
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.superInput {
    border: 1px solid #D1D1D1;
}

.errorInput {
    border: 1px solid #CC1439;
    order: 2;
}

.errorInput:focus {
    border: 1px solid #CC1439;
}

.error {
    color: #CC1439;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    order: 1;
}
