.buttonsContainer {
    display: flex;
    gap: 20px;
    margin-top: 47px;
}

.clock {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.watch {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    line-height: normal;
    font-size: 20px;
    font-weight: 400;
}

.watch strong {
    font-weight: 600;
}

.more {
    color: rgba(0, 0, 0, 0.50);
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}