.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
    width: 372px;
}

.error {
    color: #CC0000;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 7px 0;
}

input {
    width: 372px;
    height: 36px;
    border-radius: 5px;
}

.input {
    border: 1px solid #D1D1D1;
}

.input:focus {
}

.errorInput {
    border: 1px solid #CC0000;
}

.button {
    height: 36px;
    padding: 5px 24px;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #0066CC;
    border: none;
    border-radius: 3px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-transform: capitalize;
    cursor: pointer;
}

.button:focus {
    background-color: #014b9a;
}

.button:active {
    opacity: 1;
}

.button:disabled {
    opacity: 0.5;
}

.text {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.50);
    margin: 9px 0;
}

.greeting {
}
